<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% include 'default/parts/header.html.twig' %}
            <div class="row">
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}
                {% javascripts 
                    '@AppBundle/Resources/public/js/jquery.js'                
                    '@AppBundle/Resources/public/js/*' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        </div>
    </body>
    
</html>
