{% extends 'default/admin.html.twig' %}

{% block contenu %}
    <h1>Dvd creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_dvd_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
